{
  "extends": ["airbnb", "prettier", "plugin:flowtype/recommended"],
  "plugins": ["import", "flowtype"],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "warn",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "react/jsx-wrap-multilines": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
